<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ol>
        <li><a th:href="@{/home}">home</a></li>
        <li><a th:href="@{/about}">about</a></li>
        <li><a th:href="@{/contact}">contact</a></li>
    </ol>
</body>
</html>