<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<h1>Hello</h1>
<h2>Variable</h2>
<p th:text=" ${name}"></p>
<h2>If-else</h2>
<p th:text="${gender} ? ${gender} : 'gender is empty' "></p>
<h2>Switch case</h2>
<div th:switch=" ${gender}">
    <p th:case="F">Female</p>
    <p th:case="M">male</p>
    <p th:case="*">other</p>
</div>
<h2>evil operator</h2>
<p th:text="${gender}?: 'gender is empty' "></p>

<h2>if unless</h2>
<p th:if="${id}==1"><span th:text="${id}"></span></p>
<p th:unless="id==1"></p>

<h2>object</h2>
<p th:text=" 'ID : ' + ${persons.id}"></p>
<p th:text=" 'Name :' + ${persons.name}"></p>
<p th:text=" 'Gender :'+ ${persons.gender}"></p>

<h2>Selection</h2>
<div th:object="${persons}">
    <p th:text=" 'ID : ' + *{id}"></p>
    <p th:text=" 'Name :' + *{name}"></p>
    <p th:text=" 'Gender :'+ *{gender}"></p>
</div>

<h2>Iteration</h2>
<div th:each="tmp : ${ps}">
    <p th:text=" 'ID : ' + ${tmp.id}"></p>
    <p th:text=" 'Name :' + ${tmp.name}"></p>
    <p th:text=" 'Gender :'+ ${tmp.gender}"></p>
</div>


<div class="container">
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tmp : ${ps}">
        <th scope="row">1</th>
        <td th:text=" 'ID : ' + ${tmp.id}"></td>
        <td  th:text=" 'Name :' + ${tmp.name}"></td>
        <td th:text=" 'Gender :'+ ${tmp.gender}"></td>
    </tr>
    </tbody>


</table>
</div>
</body>
</html>